# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment variables
.env
*.env

# Build folders
build/
dist/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db